<header class="navbar">
  <div class="navbar-left">
    <button
      *ngIf="isDashboardPage()"
      type="button"
      class="mobile-toggle"
      (click)="toggleSidebar.emit()"
      title="Toggle Menu"
      aria-label="Toggle navigation menu"
    >
      <img src="./menu.svg" alt="Toggle Menu" class="nav-img-icon" />
    </button>

    <a routerLink="/" class="brand">
      <div class="brand-icon">
        <img src="./logo.jpg" alt="MediConnect" class="brand-img" />
      </div>
      <span class="brand-name">Medi<span class="brand-accent">Connect</span></span>
    </a>
  </div>
  
  <div class="navbar-right" *ngIf="authService.currentUser$ | async as user; else guestNav">
    <ng-container *ngIf="isDashboardPage(); else guestNavContent">
      <div class="user-profile-menu">
        <div class="avatar">{{ user.name.charAt(0).toUpperCase() }}</div>
        <div class="user-info desktop-only">
          <span class="user-name">{{ user.name }}</span>
          <span class="user-role">{{ user.role | titlecase }}</span>
        </div>
      </div>

      <button class="btn btn-secondary btn-sm" (click)="authService.logout()" title="Logout">
        <img src="./logout.png" alt="Logout" class="nav-img-icon" />
        <span class="desktop-only">Logout</span>
      </button>
    </ng-container>
  </div>

  <ng-template #guestNav>
    <ng-container *ngTemplateOutlet="guestNavContent"></ng-container>
  </ng-template>

  <ng-template #guestNavContent>
    <div class="navbar-right">
      <a *ngIf="isAuthPage()" routerLink="/" class="btn btn-secondary btn-sm home-btn" title="Back to Home">
        <img src="./home.svg" alt="Home" class="nav-img-icon" />
      </a>
      <a routerLink="/login" class="btn btn-outline btn-sm">Log In</a>
      <a routerLink="/register" class="btn btn-primary btn-sm">Register</a>
    </div>
  </ng-template>
</header>